* {
  margin: 0px;
  border: 0px;
  box-sizing: border-box;
}
.box {
  width: 100vw;
  height: 100vh;
  background-color: black;
  margin: 0px;
  border: solid 16px;
  border-color: lightgray;
  padding: 16px;
}
.content {
  height: 100%;
  width: 100%;
  border: solid 24px;
  border-color: crimson;
  font-size: 4rem;
  text-align: center;
  padding: 30px;
  background-color: khaki;
}
