<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
* {
  box-sizing: border-box;
  margin: 0px;
}
.navbar {
  height: 150px;
  padding: 30px;
  text-align: justify;
  font-family: "Sarabun", sans-serif;
  font-size: 32px;
  font-weight: 700;
  font-style: normal;
  color: #183b56;
  background-color: #92aabd;
}
.contentbox {
  height: 321px;
  width: 536px;
  font-family: "Sarabun", sans-serif;
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  color: #183b56;
  margin: 30px;
  padding: 20px;
  border: solid 3px;
  border-color: #183b56;
  background-color: #e4e9ed;
}
.picturebox {
  height: 140px;
  width: 450px;
  background-color: lightgrey;
}
